[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pathlib = "*"
piecash = "*"
move2gnucash = {file = ".", editable = true}

[dev-packages]
pytest = "*"
black = "*"

[requires]
python_version = "3.11"
